.act {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}
.act-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.act-right img {
    position: relative;
    width: 60em;
    height: 60em;
    flex-shrink: 0;
    top: 0;
    right: 0;
}
.act-left {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 40%;
    margin-left: -12%;
    margin-right: 10%;
}
.act-title {
    color: var(--green);
    text-align: right;
    font-family: var(--font);
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 137.6%; /* 88.064px */
    }
.act-text {
    color: var(--green);
    text-align: right;
    font-family: var(--font);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 137.6%; /* 44.032px */
    width: 20em;
    height: 23.5em;
    flex-shrink: 0;
}
/*responsive design*/
@media only screen and (max-width: 1400px) {
    .act-right {
        display: none;
    }
    .act-left {
        text-align: center;
        align-items: center;
        height: 15em;
        width: 50vw;
        margin: 0;
    }
    .act-text {
        margin-top: .5em;
        text-align: center;
        height: 7em;
    }
    .act {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 50vw;
        height: 100vh;
    }
   }
   /*ipad mini*/
   @media only screen and (max-width: 768px) {
    .act-title{
        font-size: 4rem; 
    }
    .act-text {
        font-size: 2rem;
    }
   }
   /*iphone design responsive*/
   @media only screen and (max-width: 450px) {
    .act-title{
        font-size: 3rem; 
    }
    .act-text {
        font-size: 1.5rem;
    }
    .act {
        height: 50vh;
    }
   }